.contact-info {
    width: 100%;
    margin-top: 20px;
    
    p {
      font-size: 18px;
      color: #fff;
      margin: 10px 0;
      
      a {
        color: #ffd700;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
